:root {
    --main-color: #AD49E1;
    /* --main-color: #9400FF; */
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

.card {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.card-header {
    font-weight: bold;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.9) !important;
}

.btn-primary {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.btn-primary:hover {
    background-color: #7600cc;
    border-color: #7600cc;
}

.form-control:focus {
    border-color: var(--main-color);
    box-shadow: 0 0 0 0.25rem rgba(148, 0, 255, 0.25);
}

/* Custom styling for the dashboard cards */
.dashboard-card {
    transition: transform 0.3s;
}

.dashboard-card:hover {
    transform: translateY(-5px);
}

/* Footer styling */
.footer {
    margin-top: auto;
}